doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    //- CDN para Tesseract.js:
    //- script(src="https://cdn.jsdelivr.net/npm/tesseract.js@5/dist/tesseract.min.js")
  body
    block content
